<div>
  <span><strong>Chat</strong></span>
</div>
<div #chatLog class="wz-chatcontainer overflow-auto bg-secondary">
  <div *ngFor="let message of messages$ | async">
    <span>{{message.sender}}: {{message.text}}</span>
  </div>
</div>
<div>    
  <form [formGroup]="chatForm" (ngSubmit)="sendMessage()" >
    <div class="input-group">           
        <input type="text" formControlName="message"  class="form-control"  />
        <span>
            <button type="submit" id="sendmessage" class="btn btn-info" [disabled]="!chatForm.valid">
              <fa-icon [icon]="faShare" size="sm" ></fa-icon>
            </button>
        </span>            
    </div>      
  </form>
</div>
    
  

