<h4>Challenge List</h4>

<div class="col-md-8">
    <ul class="list-group">
        <li *ngFor="let challenge of challengeList$ | async" class="list-group-item d-flex justify-content-between align-items-center bg-secondary text-white">
            Game Challenge from <strong>{{challenge.challenger}}</strong>
            <div class="btn-toolbar d-flex flex-row-reverse" role="toolbar" aria-label="Toolbar with button groups">                
                <div class="btn-group " role="group" aria-label="Active Friend Toolbox">
                    <button type="button" title="Accept" class="btn d-flex flex-row-reverse btn-success" (click)="acceptChallenge($event, challenge.id)">
                        <i class="fas fa-fw fa-trophy"></i>
                    </button>
                    <button type="button" title="Decline" class="btn d-flex flex-row-reverse btn-danger" (click)="refuseChallenge($event, challenge.id)">
                        <i class="far fa-fw fa-stop-circle"></i>
                    </button>                    
                </div>
            </div>            
        </li>
    </ul>
</div>

