<div>
    <ul class="nav nav-tabs bg-dark" >
        <li class="nav-item" style="padding-left: 30px;">
          <a class="nav-link text-secondary"  [routerLink]="['/game-center']" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}" >Game Center Home</a>
        </li>
        
        <li *ngFor="let game of games$ | async" class="nav-item" >            
            <a class="nav-link text-secondary" [routerLink]="[game.id]" routerLinkActive="active" >
                {{getOpponent(game.id)}}
            </a>
        </li>       
      </ul>
</div>
<div class="active-games-container">
    <router-outlet></router-outlet>
</div>

