<div class="board-container"  >
  <div class="boardOverlay">
    <div class="boardTiles">
      <div class="board" >
        <div *ngFor="let tile of gameManager.game.board.tiles"
          [id]="getCoordinate(tile)" 
          cdkDropList 
          [cdkDropListConnectedTo]="getTileConnections(tile)" 
          [cdkDropListData]="tile"
          (cdkDropListDropped)="drop($event)" >
          <app-grid-tile  [boardTile]='tile' ></app-grid-tile>
        </div>
      </div>
    </div>
  </div>  
</div>