.wz-home-game-item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.wz-home-game-item-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}