<div class="rack-container">
    <div class="flex-container bg-dark " id="list-rack" 
        cdkDropList     
        cdkDropListSortingDisabled     
        [cdkDropListConnectedTo]="connectedTiles$|async"     
        [cdkDropListData]="gameManager.activeRack$"
        (cdkDropListDropped)="drop($event)" >
        <div  [cdkDragData]='letter'  *ngFor="let letter of gameManager.activeRack$ | async"  cdkDrag >
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            <app-board-letter [boardLetter]='letter' ></app-board-letter>
        </div>    
    </div>
</div>

