
.rack-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container {
  display: flex;    
  align-items: center;
  justify-content: center;  
  margin-top: 3px;
  min-width: 260px;
  min-height: 50px;
  border-radius: 6px;
}  
  
.cdk-drag-preview {
  background: white;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

