.wz-new-game-container{    
    min-height: 400px;
    border-radius: 6px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.wz-new-game-action-button{
    min-width: 50px;
    min-height: 40px;

}