.board-letter
{
   display: flex;
   justify-content: center;
   align-items: center;
   min-width: 44px;
   min-height: 44px;
   font: 700 20px "Helvetica";
   background: peru;
   text-align: center;   
   margin: 2px;
}