<div class="col-3 px-1 bg-dark position-fixed wz-sidemenu bg-dark text-white">                
    <nav class="nav flex-column navbar-dark bg-dark">
        <ul class="navbar-nav mr-auto">
            <a class="nav-link" routerLink="/game-center">Active Games</a>
            <a class="nav-link" routerLink="/game-center/newgame" >New Game</a>            
        </ul>
    </nav>
</div>
<div class="col offset-3">
    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
</div>


