<div class="wz-user-stats bg-dark text-white">
    <div class="wz-user-stats-container">        
        <h4 class="font-weight-bold"> User Statistics</h4>
        <div *ngIf="!stats">
            <h3>User stats not available at this time</h3>
        </div>
        <div *ngIf="stats">
            <h5>High Score: <span class="wz-user-font">{{stats?.highScoreGame}}</span> ( vs {{stats?.highScoreGameOpponent}})</h5>        
            <div>Games Played: <span class="wz-user-font">{{stats?.gamesPlayed}}</span></div>
            <div>Total Score: <span class="wz-user-font">{{stats?.totalScore}}</span></div>
            <div>Victories: <span class="wz-user-font">{{stats?.victories}}</span></div>
            <div>Defeats: <span class="wz-user-font">{{stats?.defeats}}</span></div>
            <div>Draws: <span class="wz-user-font">{{stats?.draws}}</span></div>        
            <div>Forfeits: <span class="wz-user-font">{{stats?.forfeits}}</span></div>
            <div>Top Opponent: <span class="wz-user-font">{{stats?.mostFrequentOpponent}}</span></div>
            <div>Top Score Play: <span class="wz-user-font">{{stats?.highScorePlay}}</span> ( vs {{stats?.highScorePlayOpponent}})</div>        
            <div>Top Score Word: <span class="wz-user-font">{{stats?.highScoreWord}}</span> ({{stats?.highScoreWordName}})</div>
            <div>Most Used Word: <span class="wz-user-font">{{stats?.mostUsedWord}}</span></div>
        </div>
    </div>
</div>
