.wz-user-stats{
    margin: 2px;
    border-radius: 6px;    
}
.wz-user-stats-container{
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 0.8rem;
}

.wz-user-font{
    font-size: 1rem;
}
