<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Wordzz</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/game-center" routerLinkActive="active">Game Center</a>
    </li>    
  </ul>
  <ul class="navbar-nav">    
    <li class="nav-item dropleft" >
      <a class="nav-link dropdown-toggle " id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">        
        <fa-icon [icon]="faUser" size="lg" ></fa-icon>
        {{currentUser.firstName}}  {{currentUser.lastName}}        
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" routerLink="/">
          <fa-icon [icon]="faUser" size="lg" ></fa-icon>
          User Settings
        </a>
        <a class="dropdown-item" href="#" (click)="logout()">
          <fa-icon [icon]="faSignOutAlt" size="lg" ></fa-icon>
          Sign out
        </a>
      </div>
    </li>
  </ul>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
<div *ngIf="connecting && currentUser" class="full-width-div bg-dark">
  <div  *ngIf="connecting && currentUser"  class="spinner-border text-primary wait-div" role="status">
      <span class="sr-only">Loading...</span>      
  </div>
  <div class="wait-text">
    <span>Connecting to game server...</span>
  </div>
</div>
