.wait-text{    
    position: absolute;
    top: 70%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;    
    color: white;
    font-size: 14px;
    opacity: 100%;
}