<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card" >
                <div class="card-body">
                    <h3 class="card-title">User Details</h3>
                    <app-user-page-details></app-user-page-details>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" >
                <div class="card-body">
                    <h3 class="card-title">User Settings</h3>
                    <app-user-page-settings></app-user-page-settings>
                </div>
            </div>
        </div>
    </div>
</div>
