
<div *ngIf="!letter"  class="grid-tile" [class]="bonusClass" >
    {{text}}
    <fa-icon *ngIf="isStar" [icon]="faStar" size="lg" ></fa-icon>    
</div>

<div *ngIf="letter" class="grid-letter" [class]="bonusClass">        
    <div *ngIf="!isLocked"  
        cdkDrag 
        [cdkDragData]='boardTile'>
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        <app-board-letter [boardLetter]='letter' [isLocked]='isLocked' ></app-board-letter>
    </div>
    <app-board-letter *ngIf="isLocked" [boardLetter]='letter' [isLocked]='true' ></app-board-letter>    
</div>



