<div class="col-12 friend-menu-header justify-content-between align-items-center">    
    <span class="d-inline-block"><strong>Friends</strong></span>
    <button type="button" title="Add Friend" class="btn d-flex float-right btn-sm btn-success friend-menu-btn-md" (click)='openAddFriendDialog($event)'>
        <fa-icon [icon]="faUserFriends" size="sm" ></fa-icon>
    </button>    
</div>

<div *ngIf="contacts.length == 0">
   <p class="text-muted">You have no friends yet :(</p>
</div>
<div *ngIf="contacts.length > 0">
    <div>
        <span class="text-sm-left"><small>Online</small></span>
    </div>
    <div *ngIf="onlineContacts?.length < 1" style="padding-left: 5px;">
        <span class="text-sm-left text-secondary">No online contacts</span>
    </div>
    <ul class="list-group">
        <li *ngFor="let contact of onlineContacts" class="list-group-item d-flex d-flex justify-content-left align-items-center friend-menu-item bg-secondary text-white">
            <div class="dropdown">
                <button [id]="contact" type="button"  title="Remove Friend" class="btn btn-sm btn-secondary friend-menu-btn-xs dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                    <!--<i class="fas fa-fw fa-menu-dimdark fa-user-slash"></i>-->
                    <fa-icon [icon]="faUser" size="lg"></fa-icon>
                </button>
                <div class="dropdown-menu bg-secondary" aria-labelledby="contact">
                    <a class="dropdown-item bg-secondary text-white" (click)="confirmRemoveFriend($event,contact)">
                        <fa-icon class ="friend-menu-btn-sm" [icon]="faUserSlash" size="lg"></fa-icon>
                        Remove {{contact}} from friend list
                    </a>
                    <a class="dropdown-item friend-menu-item bg-secondary text-white" href="#">
                        <fa-icon class ="friend-menu-btn-sm" [icon]="faTrophy" size="lg"></fa-icon>
                        Start Game with {{contact}}
                    </a>                    
                </div>
            </div>
            {{contact}}                    
        </li>
    </ul>
    <div>
        <span class="text-sm-left"><small>Offline</small></span>
    </div>
    <ul class="list-group">
        <li *ngFor="let contact of offlineContacts" class="list-group-item list-group-item-action d-flex justify-content-left align-items-center friend-menu-item bg-secondary text-dark">            
            <!--<button type="button" title="Remove Friend" class="btn d-flex flex-row-reverse btn-sm btn-danger friend-menu-btn-xs" >-->
            <button type="button" title="Remove Friend" class="btn btn-secondary friend-menu-btn-xs" (click)="confirmRemoveFriend($event,contact)">
                <!--<i class="fas fa-fw fa-menu fa-user-slash"></i>-->
                <fa-icon [icon]="faUserSlash" size="lg"></fa-icon>
            </button>
            {{contact}}                        
        </li>
    </ul>
</div>
