.fa-menu {
    color: white;
  }
.fa-menu-dark {
    color: black;
  }

  .fa-menu-dimdark {
    color: gray;
  }

.friend-menu-header {
    height:38px;
}
.friend-menu-item {
    height:30px;
}
.friend-menu-item .disabled {
  color:black !important;
}
.friend-menu-btn-xs{
  font-size: 0.6rem;
}
.friend-menu-btn-sm{
  font-size: 0.8rem;
}

.friend-menu-btn-md{
  font-size: 1rem;
}

