
/* Special grid colors */
$triple-word-red: #fe704d;
$triple-letter-blue: #0493b5;
$double-word-pink: rgba(254, 112, 77, 0.4);
$double-letter-blue: rgba(4, 147, 181, 0.4);

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  /* Styles */
  .grid-tile
  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw /15);
    height:  calc(100vw /15);
    font: 700 10px "Helvetica";
    background: #efece1;
    text-align: center;
    box-shadow: inset 0 1px 5px -2px rgba(0, 0, 0, 0.2),
    inset 1px -2px 4px -1px rgba(0, 0, 0, 0.2);
  }
  .star-square {
    background: $double-word-pink;  
    color: $triple-word-red;    
  }
  
}

/* bigger devices  ----------- */
@media only screen 
and (min-width : 680px) {
  /* Styles */
  .grid-tile
  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    font: 700 10px "Helvetica";
    background: #efece1;
    text-align: center;
    box-shadow: inset 0 1px 5px -2px rgba(0, 0, 0, 0.2),
    inset 1px -2px 4px -1px rgba(0, 0, 0, 0.2);
  }
  .star-square {
    background: $double-word-pink;  
    color: $triple-word-red;
    font-size: 1.2rem;
  }
  .fa-star {
    font-size: 25px;
  }
}




.grid-letter{  
  display: flex;   
  justify-content: center;
  align-items: center;   
  width: 100%;
  height: 100%;
}



.triple-word {
   background: $triple-word-red;
 }
 
 .double-word {
   background: $double-word-pink;
 }
 
 .triple-letter {
   background: $triple-letter-blue;
 }
 
 .double-letter {
   background: $double-letter-blue;
 }
 
 
 .star-square-letter {
  background: $double-word-pink;    
}

 