/* You can add global styles to this file, and also import other style files */

$game-background: #c0c0c0;

.gc-sidemenu {
    height: 94vh;
    width: 8rem;
  }

#gc-sidebar-wrapper {
  min-height: 94vh;
  margin-left: -8rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#gc-sidebar-wrapper .gc-sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#gc-sidebar-wrapper .list-group {
  width: 8rem;
}

#gc-page-content-wrapper {
  min-width: 100vw;
}

#gc-wrapper.toggled #gc-sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 980px) {
  #gc-sidebar-wrapper {
    margin-left: 0;
  }

  #gc-page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #gc-wrapper.toggled #gc-sidebar-wrapper {
    margin-left: -5rem;
  }
}
