<h4><a routerLink="/game-center" >Ongoing Games</a></h4>
<div class="wz-ongoing-games-list">
    <ul class="list-group" >                
        <li *ngFor="let game of games$ | async" class="list-group-item d-flex justify-content-between align-items-center bg-secondary text-white">            
            <div><strong>Opponent:</strong> {{getOpponent(game.id)}}</div>
            <div><strong>Language:</strong> {{game.language}}</div>
            <div><strong>Board Size:</strong> {{game.board.rows}} x {{game.board.columns}}</div>
            <div class="btn-toolbar d-flex flex-row-reverse" role="toolbar" aria-label="Toolbar with button groups">
                <button type="button" title="Go to Game" class="btn d-flex flex-row-reverse btn-success" (click)="gotoGame($event, game.id)">
                    <fa-icon [icon]="faTrophy" size="sm" ></fa-icon>
                </button>                                    
            </div>          
        </li>       
    </ul>
</div>