 <div>
    <ul class="nav nav-pills" >
        <li class="nav-item ">
          <a class="nav-link "  [routerLink]="['/game-center']" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}" >Game Center</a>
        </li>
        
        <li *ngFor="let game of games$ | async" class="nav-item " >            
            <a class="nav-link " [routerLink]="[game.id]" routerLinkActive="active" >
                {{getOpponent(game.id)}}
            </a>
        </li>       
      </ul>
</div>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>

<div *ngIf="loading" class="full-width-div bg-dark">
    <div  *ngIf="loading"  class="spinner-border text-primary wait-div" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>