<div class="game-body bg-secondary">
    <div id="header" class="game-header">
        <div class="game-header-section game-header-section-left bg-primary">
            <div class="player-score-container text-white">
                <span *ngIf="!playLocked" class="spinner-border spinner-border-sm mr-1"></span>
                <div class="user-name" ><p [title]="getPlayerFullName()">{{this.getPlayerUserName()}}</p></div>    
                <div class="score"><strong>{{this.gameManager.player?.score}}</strong></div>                
            </div>            
        </div>
        <div class="game-header-section">
            <p>{{this.gameManager.player?.userName}} vs {{this.gameManager.opponent?.userName}}</p>
        </div>
        <div class="game-header-section game-header-section-right" [class.bg-danger]="!isOpponentOnline" [class.bg-success]="isOpponentOnline" >
            <div class="player-score-container text-white">                                
                <span *ngIf="playLocked" class="spinner-border spinner-border-sm mr-1"></span>
                <div class="user-name" ><p [title]="getOpponentFullName()">{{this.getOpponentUserName()}}</p></div>
                <div class="score"><strong>{{this.gameManager.opponent?.score}}</strong></div>        
                <div >
                    <span *ngIf="!isOpponentOnline"><small>offline</small></span>
                </div>
            </div>            
        </div>
    </div>
    <div id="board" class="game-container" *ngIf="!loading">
        <div class="game-container-board" >
            <app-grid-board [gameManager]='gameManager'></app-grid-board>
        </div>
        <div #gameLog class="game-container-log bg-dark overflow-auto ">
            <div *ngFor="let log of gameLogs$ | async" [class]="getLogClass(log)" >
                <div><span>{{getLogLine(log)}}</span></div>
                <div *ngFor="let detail of log.details"><span [title]="gameManager.getWordDescription(detail.word)" ><u>{{detail.word}}</u>= {{detail.score}}</span></div>
            </div>
        </div>
    </div>
    <div id="footer" class="game-footer" >
        <div id="gameinfo" class="game-pub">    
            <p>WORDZZ - NBsoft</p>
            <button class="btn btn-danger btn-sm"  (click)="onForfeit()">
                <fa-icon [icon]="faTimesCircle" size="sm" ></fa-icon>
                Forfeit Game
            </button>        
        </div>
        <div class="game-rack">
            <app-rack [gameManager]='gameManager'></app-rack>
        </div>
        <div id="gamecommands" class="game-commands">
            <div class="text-white status">
                {{status$ | async}}
            </div>
            <div class="btn-group" >
                <button class="btn btn-success btn-md" [disabled]="playLocked" (click)="onPlay()">
                    <span *ngIf="playLocked" class="spinner-border spinner-border-sm mr-1"></span>
                    Play
                </button>
                <button class="btn btn-warning btn-md" [disabled]="playLocked" (click)="onPass()">Pass</button>
            </div>
            
        </div>
    </div>
</div>
