<div class="game-body">
    <div id="header" class="game-header">
        <div class="game-header-section game-header-section-left"  [class]="getPlayerUserClass()">
            <div class="player-score-container">
                <span *ngIf="!playLocked" class="spinner-border spinner-border-sm mr-1"></span>
                <div class="user-name" ><p [title]="getPlayerUserName()">{{this.getPlayerFullName()}}</p></div>    
                <div class="score"><strong>{{this.gameManager.player?.score}}</strong></div>                
            </div>            
        </div>
        <div class="game-header-section game-header-section-right" [class]="getOpponentUserClass()" >
            <div class="player-score-container">
                <span *ngIf="playLocked" class="spinner-border spinner-border-sm mr-1"></span>
                <div class="user-name" ><p [title]="getOpponentUserName()">{{this.getOpponentFullName()}}</p></div>
                <div class="score"><strong>{{this.gameManager.opponent?.score}}</strong></div>        
                <div >
                    <span *ngIf="!isOpponentOnline"><small>offline</small></span>
                </div>
            </div>            
        </div>
    </div>
    <div id="board" class="game-container" *ngIf="!loading">
        <div class="game-container-board" >
            <app-grid-board [gameManager]='gameManager'></app-grid-board>
        </div>        
        <div id="gameLog" #gameLog class="game-container-log bg-dark overflow-auto ">
            <div *ngFor="let log of gameLogs$ | async" [class]="getLogClass(log)" >
                <div><span>{{getLogLine(log)}}</span></div>
                <div *ngFor="let detail of log.details"><span [title]="gameManager.getWordDescription(detail.word)" ><u>{{detail.word}}</u>= {{detail.score}}</span></div>
            </div>
        </div>
    </div>
    <div id="footer" class="game-footer" >       
        <div class="game-rack">
            <app-rack [gameManager]='gameManager'></app-rack>
        </div>
        <div id="gamecommands" class="game-commands">
            <div class="text-white status">
                {{status$ | async}}
            </div>
            <div class="button-container">
                <button class="btn btn-info btn-icon" (click)="onPopLogs($event)" >
                    <fa-icon [icon]="faAlignJustify" size="md"></fa-icon>
                </button>                        
                <button class="btn btn-success btn-wide" [disabled]="playLocked" (click)="onPlay()">
                    <span *ngIf="playLocked" class="spinner-border spinner-border-sm mr-1"></span>
                    Play
                </button>
                <button class="btn btn-warning btn-normal" [disabled]="playLocked" (click)="onPass()">Pass</button>
                <button class="btn btn-danger btn-normal"  (click)="onForfeit()">Forfeit</button>
            </div>
        </div>
    </div>
    <div id="gameLogContainer" *ngIf="isLogPopped" class="game-container-log-container" (click)="logContainerClicked($event)">
        <div id="gameLogPop" #gameLogPop class="bg-dark overflow-auto game-container-log-pop" >
            <div *ngFor="let log of gameLogs$ | async" [class]="getLogClass(log)" >
                <div><span>{{getLogLine(log)}}</span></div>
                <div *ngFor="let detail of log.details"><span [title]="gameManager.getWordDescription(detail.word)" ><u>{{detail.word}}</u>= {{detail.score}}</span></div>
            </div>
        </div>
    </div>
</div>
