$activePlayer: rgb(24, 255, 93);
$inactivePlayer: rgb(50, 158, 83);
$offlinePlayer: rgb(139, 29, 34);

$gameWidth: 610px;

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (max-width : 613px) {
  /* Styles */
    .user-name{
        font-size: 1rem;    
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
    }
    .score{
        font-size: 1rem;    
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 7px;
    }   
    .game-container-board{
        flex: 1 0 100%;
        align-items: flex-start;
        overflow: hidden;
    }
    .game-container-log{
        display: none;
    }
}

/* bigger devices  ----------- */
@media only screen 
and (min-width : 614px) {
  /* Styles */
    .user-name{
        font-size: 1.5rem;    
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
    }
    .score{
        font-size: 1.5rem;    
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 12px;
    }   
    .game-container-board{
        flex: 1 0 80%;
        align-items: flex-start;
        overflow: hidden;
        max-width: 480px;
    }
    .game-container-log{
        flex: 1 0 20%;    
        flex-direction: column ;
        padding-left: 5px;
        padding-right: 5px;    
        font-size: smaller;
        height: 480px;
        width: 130px;
        max-width: 130px;
        border-left: 2px solid #aaa;
        border-right: 2px solid #656565;
        border-top: 2px solid #aaa;
        border-bottom: 2px solid #656565;    
    }
}
.game-body{
    width: 100%;    
    
    /*border-radius: 6px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black; */
}

.game-header{
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: $gameWidth;
}

.player-score-container{    
    display: flex;        
    flex-direction: row ;
    margin: 2px;
    width: 100%;
    min-height: 40px;    
    justify-content: center;
    align-items: center;
}

.active-player{
    background-color: $activePlayer;
    color: black;
}
.inactive-player{
    background-color: $inactivePlayer;
    color: white;
}
.offline-player{
    background-color: $offlinePlayer;
    color: white;
}

.game-header-section{
    display: flex;
    width: 50%;    
    justify-content: center;
}
.game-header-section-left{    
    justify-content: flex-start;
}
.game-header-section-right{
    justify-content: flex-end;    
}


.player-score{
    display: flex;        
    flex-direction: row ;
}

.game-container{
    display: flex;    
}

.game-container-log-player{
    text-align: left;
    color: white;
}
.game-container-log-opponent{
    text-align: right;
    color: #c0c0c0;
}
.game-container-log-pop{
    flex: 1 0 20%;    
    flex-direction: column ;
    padding-left: 5px;
    padding-right: 5px;    
    font-size: smaller;
    height: 534px;    
    border-left: 2px solid #aaa;
    border-right: 2px solid #656565;
    border-top: 2px solid #aaa;
    border-bottom: 2px solid #656565;  
}
.game-container-log-container{
    position: fixed; /* Sit on top of the page content */
    display: flex; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    align-content: center;
    padding: 70px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    
}

.game-footer{    
    display: flex;    
    align-items: center;    
    flex-direction: column;
    max-width: $gameWidth;    
}

.game-footer .game-rack{    
    display: flex;  
    flex-direction: column;
    align-items: flex-start;    
}
.game-footer .status {
    overflow: auto;
    font-size: 0.7rem;
    min-height: 33px;
}
.game-footer .game-commands{
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5px;
    margin-right: 5px;
}


.game-footer .game-commands .button-container{
    width: 100vw;
    max-width: $gameWidth;
    display: flex;  
    flex-direction: row;
    align-items: flex-start;
    justify-content:space-around;
    margin-top: 5px;
    margin-bottom: 5px;
    
}
.button-container .btn-normal{
    width: 82px;
}

.button-container .btn-wide{
    width: 100px;
}
.button-container .btn-icon{
    display: inline-block;
    align-items: center;
    padding-left: 8px;
    padding-top: 4px;
    width: 32px;
    height: 32px;
}
