$game-background: #c0c0c0;

.rack-container{
  background-color: $game-background;  
  //min-width: 810px;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container {
  display: flex;    
  align-items: center;
  justify-content: center;  
  margin-top: 3px;
  min-width: 300px;
  min-height: 50px;
}  
  
.cdk-drag-preview {
  background: white;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

