<div class="container-fluid" >
  <div class="row wz-home-container bg-secondary text-white">    
    <div class="col-md-6">
      <h4>Ongoing Games</h4>
      <ul class="list-group">
        <a *ngFor="let game of games$ | async" [routerLink]="[game.id]"
          class="list-group-item list-group-item-action bg-dark text-white">
          <app-gc-game-status [gameManager]='getGameManager(game.id)' ></app-gc-game-status>
        </a>

        <!--<a *ngFor="let game of games$ | async" [routerLink]="[game.id]"
          class="list-group-item list-group-item-action bg-dark text-white">
          
        </a>-->
      </ul>
    </div>
    <div class="col-md-6">
      <h4>Actions</h4>
      <div class="list-group">       
        <a class="list-group-item list-group-item-action wz-home-action-item" routerLink="/game-center/newgame" >
          <fa-icon [icon]="faTrophy" size="lg" ></fa-icon>
          Start a new Game
        </a>
        <a class="list-group-item list-group-item-action wz-home-action-item" routerLink="/game-center/challenges" >
          <fa-icon [icon]="faCrosshairs" size="lg" ></fa-icon>
          View Received Challenges
        </a>
      </div>
    </div>
  </div>
</div>

