<div class="container-fluid" style="margin-top: 15px;">
  <div class="row wz-home-container bg-secondary text-white">    
    <div class="col-md-6">
      <h4>Ongoing Games</h4>
      <ul class="list-group">
        <a *ngFor="let game of games$ | async" [routerLink]="[game.id]"
          class="list-group-item list-group-item-action bg-dark text-white">
          <div class="wz-home-game-item-header">
            <h4><strong>{{game.player01.userName}} x {{game.player02.userName}}</strong></h4>
            <div [class]="getIsMyTurn(game)">Current Player: {{game.currentPlayer}}</div>
          </div>
          <div class="wz-home-game-item">
            <div>Language: {{game.language}}</div>
            <div>Score: {{getPlayer01Score(game)}} - {{getPlayer02Score(game)}}</div>
            <div>Size: {{game.board.rows}} x {{game.board.columns}}</div>
          </div>
        </a>
      </ul>
    </div>
    <div class="col-md-6">
      <h4>Actions</h4>
      <div class="list-group">       
        <a class="list-group-item list-group-item-action wz-home-action-item" routerLink="/game-center/newgame" >
          <fa-icon [icon]="faTrophy" size="lg" ></fa-icon>
          Start a new Game
        </a>
        <a class="list-group-item list-group-item-action wz-home-action-item" routerLink="/game-center/challenges" >
          <fa-icon [icon]="faCrosshairs" size="lg" ></fa-icon>
          View Received Challenges
        </a>
      </div>
    </div>
  </div>
</div>

