.wz-home-container{    
    min-height: 400px;
    border-radius: 6px;
}


.wz-home-action-item{
    width: 100%;
    margin-bottom: 10px;
    max-height: 250px;
}
.wz-home-action-description{
    display: flex;
    align-items: center;
}

.wz-challenges-item{    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 38px;
}